@import "tailwindcss";

*{
    scroll-behavior: smooth;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  width: fit-content; /* IMPORTANT */
  animation: marquee 20s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}
.marquee-container {
  position: relative;
  overflow: hidden;
}

.marquee-container::before,
.marquee-container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 2;
}

.marquee-container::before {
  left: 0;
  background: linear-gradient(to right, #1a1a1a, transparent);
}

.marquee-container::after {
  right: 0;
  background: linear-gradient(to left, #1a1a1a, transparent);
}

@keyframes shakeLoop {
  0%, 90%, 100% { transform: translateX(0); }
  92% { transform: translateX(-3px); }
  94% { transform: translateX(3px); }
  96% { transform: translateX(-3px); }
  98% { transform: translateX(3px); }
}

.shake-btn {
  animation: shakeLoop 3s infinite;
}